@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Global Styles */
@layer base {
    body {
      color: theme('colors.mainBrown'); /* Verwendung Ihrer benutzerdefinierten Farbe */
    }
  }

  html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}